.MuiLoadingButton-loadingIndicator {
  color: white !important;
}
.tabAnim {
  z-index: -9;
}

#option0:checked ~ div {
  --tw-translate-x: 0%;
}

#option1:checked ~ div {
  --tw-translate-x: 100%;
}

#option2:checked ~ div {
  --tw-translate-x: 200%;
}

#option3:checked ~ div {
  --tw-translate-x: 300%;
}

#option4:checked ~ div {
  --tw-translate-x: 400%;
}
