/* VideoPlayer.css */
.video-js .vjs-play-control,
.video-js .vjs-pause-control {
  border-radius: 50%;
  margin: 10px 2px;
  width: 3em;
  height: 3em;
  transition: all 0.2s;
}
.video-js .vjs-play-control:hover,
.video-js .vjs-pause-control:hover {
  background-color: rgba(255, 255, 255, 0.082);
}

.video-js .vjs-play-control:focus,
.video-js .vjs-pause-control:focus {
  text-shadow: none;
}
/* VideoPlayer.css */
.video-js .vjs-big-play-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-left: -1em;
  backdrop-filter: blur(5px);
  border: none;
}

.vjs-control-bar {
  background: rgba(71, 71, 71, 0.432) !important;
  width: auto !important;
  border-radius: 10px;
  height: 4em !important;
  align-items: center;
  bottom: 12px !important;
  margin: 0 15px;
  backdrop-filter: blur(10px);
  padding: 5px;
}
.video-js .vjs-time-control {
  line-height: 2.7em !important;
  font-size: 1.2em;
}
.vjs-menu-item-text,
vjs-playback-rate,
.video-js .vjs-time-control,
.vjs-time-tooltip,
.vjs-playback-rate-value {
  font-family: "Peyda" !important;
}
.video-js .vjs-volume-panel {
  align-items: center;
}
.vjs-time-tooltip {
  border-radius: 20px !important;
  padding: 10px !important;
  display: none !important;
}
.vjs-mouse-display .vjs-time-tooltip {
  background-color: gray;
  display: block !important;
}

.vjs-menu .vjs-menu-content {
  border-radius: 7px;
  background-color: rgb(94, 99, 107) !important;
}
.vjs-menu li.vjs-menu-item:focus,
.vjs-menu li.vjs-menu-item:hover,
.js-focus-visible .vjs-menu li.vjs-menu-item:hover {
  background-color: rgb(61, 64, 68) !important;
}
.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover,
.js-focus-visible .vjs-menu li.vjs-selected:hover {
  background-color: white !important;
}

.vjs-playback-rate-value {
  font-size: 1.4em !important ;
  line-height: 2.3 !important;
}
.vjs-playback-rate .vjs-menu {
  width: 5.5em !important;
}
.vjs-menu li {
  margin: 5px !important;
  border-radius: 6px;
}
.vjs-tech {
  outline: none;
  object-fit: cover;

}
.vjs_video_3-dimensions.vjs-fluid:not(.vjs-audio-only-mode) {
  padding-top: 0 !important;
}
.vjs-poster img{
  object-fit: cover;
}