@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Peyda";
    src: url(/font/PeydaFaNum-Medium.ttf);
  }
  .gradient {
    position: absolute;
    bottom: -10px;
    right: 40%;
    --size: 250px;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-color: #6535b23b;
    border-radius: 9999px;
  }
}
