@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Peyda";
    src: url(/font/Peyda-Medium.ttf);
  }
  @font-face {
    font-family: "Peyda-light";
    src: url(/font/Peyda-Light.ttf);
  }
  @font-face {
    font-family: "Peyda-black";
    src: url(/font/Peyda-Black.ttf);
  }
  @font-face {
    font-family: "Peyda-med";
    src: url(/font/Peyda-Medium.ttf);
  }
  .gradient {
    position: absolute;
    bottom: -10px;
    right: 40%;
    --size: 250px;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-color: #6535b23b;
    border-radius: 9999px;
  }
  .pattern {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
    background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
        var(--_s),
      radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
      radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
      radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
      repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
      radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s)
        var(--c);
    background-attachment: fixed;
  }
  #root::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: #3b3b4b;
    padding: 5px;
  }

  ::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: gray;
    padding: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #80808094;
  }
  .box {
    background: white;
    padding: 16px 24px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  }
  .box::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    -webkit-animation: animateGlow 1.25s linear infinite;
    animation: animateGlow 1.25s linear infinite;
  }

  @-webkit-keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

}
