@import url("/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    background: #000;
  }
  * {
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }

  .gradient {
    position: absolute;
    bottom: -10px;
    right: 40%;
    --size: 250px;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-color: #6535b23b;
    border-radius: 9999px;
  }
  .all-games {
    font-size: 16px;
    padding: 1em 3.3em;
    margin: 50px 0;
    transform: perspective(200px) rotateX(15deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg, #733cb3 0%, #3b35b2 100%);
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid #7600ff;
  }
  .all-games:hover {
    transform: perspective(190px) rotateX(25deg) translateY(2px);
    box-shadow: #8c3cb32b 0px 40px 29px 0px;
  }
  .css-1c99szj-MuiRating-icon {
    color: gray !important;
  }
  .all-games:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
  }
  .pattern {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
    background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
        var(--_s),
      radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
      radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
      radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
      repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
      radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s)
        var(--c);
    background-attachment: fixed;
  }
  #root::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: #3b3b4b;
    padding: 5px;
  }

  ::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: gray;
    padding: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #80808094;
  }
  .box {
    background: white;
    padding: 16px 24px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  }
  .box::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    -webkit-animation: animateGlow 1.25s linear infinite;
    animation: animateGlow 1.25s linear infinite;
  }

  @-webkit-keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  .ft-hr {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
      90deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(54, 54, 96, 1) 40%,
      rgba(36, 118, 109, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(54, 54, 96, 1) 40%,
      rgba(36, 118, 109, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(54, 54, 96, 1) 40%,
      rgba(36, 118, 109, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#000000", GradientType=1);
  }
  .from-cnDarkBlue-27:is(.dark *) {
    --tw-gradient-from: rgba(0, 0, 0, 0.205) var(--tw-gradient-from-position);
    --tw-gradient-to: rgba(40, 42, 59, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    border-radius: 20px;
  }
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #000000 !important;
  }
}
